<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Modern Business - Start Bootstrap Template</title>

	<!-- Bootstrap core CSS -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="../css/modern-business.css" rel="stylesheet">
	<style>
    body {
    background: radial-gradient(circle at bottom, #7efff5 0%, #ffcccc 100%);

}
  </style>
</head>

<body>
<!-- Navigation -->
<th:block th:insert="fragments/navbar::navbar"></th:block>

<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3" ></h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a th:href="@{/accueil}">Accueil</a>
		</li>
		<li class="breadcrumb-item active"><a th:href="@{/recherche}">Rechercher</a></li>
	</ol>
	<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
		<div class="card-header">Infos perso</div>
		<div class="card-body">
			<h5 class="card-title" th:text="${session.userSession.username}">Info card title</h5>
			<ul>
				<li>Nom : <span th:text="${session.userSession.nom}"></span></li>
				<li>Prernom : <span th:text="${session.userSession.prenom}"></span></li>
				<li>Telephone : <span th:text="${session.userSession.telephone}"></span></li>
				<li>Email : <span th:text="${session.userSession.email}"></span></li>
			</ul>
		</div>


</div>
<!-- /.row -->

</div>

<!-- /.container -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!-- Footer -->
<footer class="py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; Bibliothèque-municipale 2020</p>
	</div>
	<!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>