<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/modern-business.css" rel="stylesheet">
  <style>
    body {
    background: radial-gradient(circle at bottom, #7efff5 0%, #ffcccc 100%);

}
  </style>
</head>

<body>
  <!-- Navigation -->
  <th:block th:insert="fragments/navbar::navbar"></th:block>
 
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" th:text="${ouvrage.titre}">
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a th:href="@{/accueil}">Accueil</a>
      </li>
      <li class="breadcrumb-item active"><a th:href="@{/recherche}">Rechercher</a></li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-4">
        <img class="img-fluid" th:src="${ouvrage.imageUrl}" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Description de l'ouvrage</h3>
        <p th:text="${ouvrage.description}"></p>
        <h3 class="my-3">Project Details</h3>
        <ul>
          <li>Categorie : <span th:text="${ouvrage.categorie}"></span></li>
          <li>Auteur : <span th:text="${ouvrage.auteur}"></span></li>
          <li>Paru-le : <span th:text="${ouvrage.dateParution}"></span></li>
        </ul>
      </div>

    </div>
    <!-- /.row -->

 <!--   <th:block th:each="ouvrageSameCategory : ${ouvragesSameCategory}">
      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">

          <a > <img class="img-fluid" th:src="@{/ouvrages/{id}/image(id=${ouvrageSameCategory.id})}"></a>

        </div>



      </div>
    </th:block>-->
    <!-- Related Projects Row -->
    <h3 class="my-4">Ouvrage similaire</h3>
    <!--<div th:text="${products[1].id}"></div>-->
    <div class="row">
      <!--<th:block th:each="ouvrageSameCategory : ${ouvragesSameCategory}">-->
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <div th:if="${ouvragesSameCategory.size() > 0}">
          <img class="img-fluid" th:src="@{/ouvrages/{id}/image(id=${ouvragesSameCategory[0].id})}" alt="">
          </div>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <div th:if="${ouvragesSameCategory.size() > 1}">
          <img class="img-fluid" th:src="@{/ouvrages/{id}/image(id=${ouvragesSameCategory[1].id})}" alt="">
          </div>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <div th:if="${ouvragesSameCategory.size() > 2}">
          <img class="img-fluid" th:src="@{/ouvrages/{id}/image(id=${ouvragesSameCategory[2].id})}" alt="">
      </div>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <div th:if="${ouvragesSameCategory.size() > 3}">
          <img class="img-fluid" th:src="@{/ouvrages/{id}/image(id=${ouvragesSameCategory[3].id})}" alt="">
      </div>
        </a>
      </div>
     <!-- </th:block>-->
    </div>
    <!-- /.row -->

  </div>

  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
