<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tous nos ouvrages</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <!-- Custom styles  -->
  <link href="css/selfStyle.css" rel="stylesheet">

  <style>
    body {
    background: radial-gradient(circle at bottom, #7efff5 0%, #ffcccc 100%);

}
  </style>
</head>

<body>
  <!-- Navigation -->
  <th:block th:insert="fragments/navbar::navbar"></th:block>
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3 american">Tous nos ouvrages

    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a th:href="@{/accueil}">Accueil</a>
      </li>
      <li class="breadcrumb-item active"><a th:href="@{/recherche}">Rechercher</a></li>
    </ol>
    <div class="row">
    <th:block th:each="ouvrage : ${ouvrages}">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <a th:href="@{/ouvrages/{id}(id=${ouvrage.id})}"> <img class="card-img-top" th:src="@{/ouvrages/{id}/image(id=${ouvrage.id})}"></a> <!--<img class="card-img-top" th:src="${ouvrage.imageUrl}" alt="">-->
        </div>
    </th:block>
    </div>


  </div>

  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bibliotheque-Municipale 2020</p>
    </div>

    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>
